/* global */


html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1rem = 10px*/
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #F3F3F3;
    color: #333333;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.section-container {
    padding: 0 33.4rem;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.section-title::before {
    content: '';
    display: inline-block;
    width: 0.9rem;
    height: 2.9rem;
    background: #AE7129;
    border-radius: 0.5rem;
    margin-right: 0.9rem;

}

/* nav bar */

.nav-bar {
    background-color: #FBFBFC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 11.7rem;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    min-height: 10rem;
}

.nav-logo-img {
    height: 5rem;
    width: 5rem;
}


.nav-logo-text {
    font-size: 1.4rem;
    margin-left: 1.62rem;
    font-weight: 400;
    color: #333333;
}

.nav-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10rem;
    margin-left: auto;
}

.nav-tool-box {
    width: 4.8rem;
    height: 4.8rem;
    font-size: 1.6rem;
    color: #026bb0;
    background: #ffffff;
    border: 0.065px solid #ebebeb;
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-tool-box:last-child {
    margin-left: 3rem;
}

.notification {
    position: relative;
}

.notification.active::after {
    content: '';
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background: #ff3c3c;
    border-radius: 50%;
    position: absolute;
    border: 1.3px solid #ffffff;
    left: 0.85rem;
    bottom: 0.8rem;
}

.nav-expand {
    font-size: 2.3rem;
    color: #969696;
    margin-left: 7.7px;
}

/* manage childs */

.manage-childs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 13.2rem;
    background-color: #ffffff;
}

.manage-childs-selected {
    display: flex;
    align-items: center;
}

.manage-childs-selected-avatar {
    width: 8.4rem;
    height: 8.5rem;
    border-radius: 1.2rem;
}

.manage-childs-selected-name {
    font-size: 2.9rem;
    font-weight: 600;
    color: #333333;
    margin-left: 1.08rem;
}

.manage-childs-list {
    display: flex;
    margin-left: auto;
}

.manage-childs-item {
    width: 12.3rem;
    min-height: 5.01rem;
    border: 1px solid #f0f0f1;
    border-radius: 1.2rem;
    margin-right: 1.9rem;
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem 0.9rem 1.1rem;
    color: #333333;
}

.manage-childs-item:last-child {
    margin-right: 1.5rem;
}

.manage-childs-item.active {
    width: 12.3rem;
    min-height: 5.01rem;
    border: 1px solid #f0f0f1;
    border-radius: 1.2rem;
    margin-right: 1.9rem;
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem 0.9rem 1.1rem;
    color: #026BB0;
    background: #026bb01a;
}

.manage-childs-item-avatar {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.7px solid #ffffff;
    border-radius: 0.8rem;
}

.manage-childs-item-name {
    font-size: 1.6rem;
    font-weight: 600;
    align-self: start;
    padding-left: 0.9rem;
}

.manage-childs-item.active>.manage-childs-item-name {
    align-self: unset;
}

.manage-childs-add {
    width: 15.9rem;
    height: 4.8rem;
    border: 0.7px solid #026bb0;
    border-radius: 1.3rem;
    color: #026BB0;
    font-size: 1.6rem;
    background-color: #ffffff;
}

.manage-childs-add-text {
    font-weight: 500;
}

/*statistics*/

.statistics {
    margin-top: 4.5rem;
}

.statistics-title {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.statistics-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 21.4rem;
    justify-content: space-between;
    padding: 3.5rem 6.9rem 4.1rem 6.9rem;
    background-color: #ffffff;
    border-radius: 2rem;
    border: 1px solid #e9e9e9;
}

.statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    min-width: 20rem;
}

.statistics-number {
    font-size: 1.6rem;
    font-weight: 600;
    padding-top: 1.2rem;
}

.statistics-description {
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 4px;
}

/* attendence */

.attendence {
    margin-top: 5.2rem;
    max-width: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.calendar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 9px;
}

.calendar-nav-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.8rem;
    height: 3.8rem;
    background: #ffffff;
    border: 0.5px solid #e8e8e8;
    border-radius: 1rem;
    color: #026BB0;
    font-size: 1.8rem;
    font-weight: 400;
}

.calendar-nav-text {
    font-size: 1.8rem;
    text-align: center;
    color: #333333;
    margin: 0 2rem;
}

.attendence-calendar-container {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    gap: 0.5rem 0.6rem;
    background-color: #ffffff;
    padding: 2.5rem 3rem;
    border-radius: 2rem;
}

.first-day {
    grid-column-start: 3;
}

.attendence-week-day {
    height: 1.9rem;
    font-size: 1.4rem;
    color: #8b8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
}

.attendence-day {
    height: 5.7rem;
    background: rgba(120, 181, 23, 0.10);
    border-radius: 5px;
    font-size: 1.8rem;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-day {
    background-color: #3333331a
}



/* gradbook */

.gradbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5.1rem;
}

.gradbook-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3.5px 0;
}

.gradbook-table th:not(:first-child) {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    padding-bottom: 1.5rem;
    vertical-align: middle;
}

.gradbook-table tr td:first-child {
    padding-left: 3.7rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    min-width: 29.5rem;
}

.gradbook td {
    text-align: center;
    width: 20.4rem;
    height: 6.5rem;
    background-color: #ffffff;
    vertical-align: middle;
    font-size: 1.6rem;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    position: relative;
}

.gradbook td::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #E9E9E9;
    width: 85.3%;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.gradbook-table tr:nth-child(2) td {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top: 1px solid #e9e9e9;
}

.gradbook-table tr:last-child td {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom: 1px solid #e9e9e9;
}


.gradbook-total {
    display: flex;
    align-items: center;
    width: 99.4%;
    height: 7.4rem;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 2rem;
    margin-top: 4px;
}

.gradbook-total-title {
    font-size: 1.6rem;
    text-align: left;
    color: #333333;
    font-weight: 600;
    margin-left: 3.5rem;
}

.gradbook-total-score {
    width: 9.7rem;
    height: 2.8rem;
    font-size: 2rem;
    text-align: right;
    color: #AFAFAF;
    margin-left: auto;
    margin-right: 2.34rem;
    position: relative;
}

.gradbook-total-score::before {
    content: "";
    position: absolute;
    right: 17.2rem;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid #E9E9E9;
    height: 4.37rem;
}

.gradbook-total-student-score {
    font-weight: 600;
    color: #333333;
}

.gradbook-table-faild {
    color: #FF0000;
}

/* Homework */

.homework {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5.1rem;
}

.homework-see-more {
    margin-left: auto;
    width: 15.3rem;
    max-height: 3.8rem;
    background: #ffffff;
    border: 0.5px solid #e8e8e8;
    border-radius: 9px;
    font-size: 1.4rem;
    color: #026bb0;
}

.homework-container {
    border: 1px solid #e9e9e9;
    border-radius: 2rem;
    background-color: #ffffff;
    padding: 3.4rem 3.5rem 3rem 3.5rem;
    width: 100%;
    min-width: 100%;
}

.homework-info {
    display: flex;
    font-size: 1.4rem;
    color: #969696;

}

.homework-info-name {
    display: flex;
    align-items: center;
}

.homework-info-name::before {
    content: '';
    display: inline-block;
    width: 0.7rem;
    height: 1.7rem;
    border-radius: 5px;
    margin-right: 3px;
    border: 1px solid #0575b6;
    background: #0575b61a;
}

.homework-info-average {
    margin-left: 1.4rem;
    display: flex;
    align-items: center;
}

.homework-info-average::before {
    content: '';
    display: inline-block;
    width: 0.7rem;
    height: 1.7rem;
    background: #3333331a;
    border-radius: 5px;
    margin-right: 3px;
    border: 1px solid #333333;
}

.homework-info-subject {
    margin-left: auto;
}

.homework-info-subject-name {
    font-size: 1.4rem;
    color: #333333;
    margin-right: 1.3rem;
}

.homework-charts {
    width: 100%;
    min-width: 100%;
    margin-top: 1.6rem;
}

/* Footer */

.footer-copyrights {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7.4rem;
    margin-top: 21rem;
    background: #ffffff;
}

.footer-copyrights-text {
    font-size: 1.4rem;
    color: #707070;
}


/* Media Queries */

@media only screen and (min-width: 2260px) {
    html {
        font-size: 90%;
    }

    .section-container {
        padding: 0 15%;
    }
}

@media only screen and (min-width: 1801px) {
    html {
        font-size: 75%;
    }

    .section-container {
        padding: 0 15%;
    }

    .homework,
    .statistics .gradbook,
    .attendence {
        margin-top: 8rem;
    }
}

@media only screen and (max-width: 1700px) {
    html {
        font-size: 55%;
    }

    .section-container {
        padding: 0 15%;
    }
}

@media only screen and (max-width: 1440px) {
    html {
        font-size: 52%;
    }

    .section-container {
        padding: 0 10%;
    }

    .homework,
    .statistics,
    .gradbook,
    .attendence {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }

    .footer-copyrights {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .nav-logo-text {
        font-size: 1.6rem;
    }

    .section-container {
        padding: 0 5%;
    }

    .footer-copyrights {
        margin-top: 6rem;
    }

    .homework,
    .statistics,
    .gradbook,
    .attendence {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 660px) {
    html {
        font-size: 39%;
    }

    .section-container {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 475px) {
    html {
        font-size: 33%;
    }

    .nav-logo-text {
        font-size: 1.8rem;
    }

    .section-container {
        padding: 0 1%;
    }

    .statistics-container {
        padding: 3.5rem 1.5rem 4.1rem 1.5rem;
    }

    .manage-childs {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 408px) {
    .statistics-container {
        padding: 3.5rem 1.5rem 4.1rem 1.5rem;
    }

    .manage-childs {
        padding: 10px;
    }

    .manage-childs-list,
    .manage-childs-selected,
    .manage-childs-add {
        margin-bottom: 7px;
    }
}

@media only screen and (max-width: 340px) {
    .statistics-container {
        flex-direction: column;
    }

    .statistics-item {
        margin: 10px 0;
    }

    .manage-childs-item:last-child {
        margin-right: 0;
    }

    .manage-childs-list {
        margin-left: 10px;
    }
}